@inherits LayoutComponentBase
@inject Supabase.Client Sb
@inject NavigationManager Nav
@inject GlazerOps.Services.JobsCacheSyncService JobsCacheSync
@using MudBlazor



<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await Sb.Auth.RetrieveSessionAsync();

        var relativePath = Nav.ToBaseRelativePath(new Uri(Nav.Uri).GetLeftPart(UriPartial.Path));
        if (Sb.Auth.CurrentUser is null && relativePath != "login" && !relativePath.StartsWith("auth/"))
        {
            Nav.NavigateTo("login");
            return;
        }

        if (Sb.Auth.CurrentUser is not null)
        {
            await JobsCacheSync.StartAsync();
        }
    }
}
