@using GlazerOps.Layout

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/login">
            <img src="Logo.png" alt="GlazerOps" />
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/jobs">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Jobs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/sites">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sites
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/calendar-views">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Calendar Views
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/preferences">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Preferences
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/settings">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/users">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Users
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
